// NOTE Default Scheme
// $body-bg: #f2f2f2;
// $primary: #3ba5dc;
// $secondary: #ff3697;
// $danger: #eb5757;
// $success: #27ae60;
// $warning: #ff7f50;
// $info: #00c9bd;
// $dark: #313130;
// $light: #f8f9fa;

// NOTE Dragonire
$body-bg: #daccac;
$primary: #42413a;
$secondary: #807365;
$danger: #8b2f15;
$success: #4f6031;
$warning: #ad631d;
$info: #5f456c;
$dark: #3c3425;
$light: #f0efe6;
